
.img-fluid__ele {
    height: 264px;
    width: 366px;
}

.room-status.available {
    color: #febb02;
    font-weight: 500;
}

.room-status.not-available {
    color: red;
    font-weight: 500;
}

::ng-deep .p-dropdown-label {
    display: flex !important;
    align-items: center !important;
}

