<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 order-1 order-md-1">
        <div class="card">
            <!-- Ảnh bài viết -->
            <img class="post-image" *ngIf="hasMainPhoto(post)" [src]="getMainPhotoUrl(post)"
                class="card-img-top img-thumbnail post-image" />
            <div class="card-body">
                <div>
                    <strong>{{l("Title")}}</strong>
                    <p>{{post.title}}</p>
                </div>
                <div>
                    <strong>{{l("Address")}}</strong>
                    <p>{{post.address}}</p>
                </div>
                <div>
                    <strong>{{l("Square")}}</strong>
                    <p>{{post.square }} (m2)</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn bg-pink mr-2" [hidden]="!isLogin" (click)="favourite(post.id)">
                        <i class="fas fa-heart"></i> Yêu thích
                    </button>
                    <button class="btn bg-primary" (click)="booking(post.id)" [disabled]="this.buttonDisabled">
                        <i class="fas fa-trash-alt"></i> Đặt phòng
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-7 order-3 order-md-2">
        <!-- Tabset cho các tab -->
        <tabset>
            <tab class="" [heading]="'Nội dung'">
                <h4>{{l("ContentPost")}}</h4>
                <p>{{post.contentPost}}</p>
            </tab>
            <tab class="" [heading]="'Thông tin hình ảnh'">
                <ngx-gallery [options]="this.galleryOptions" [images]="this.galleryImages" class="ngx-gallery col-12 col-md-9"></ngx-gallery>
            </tab>
            <tab class="" [heading]="'Vị trí trên bản đồ'">
                <div class="map-container">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="true"
                        (mapReady)="onMapReady($event)">
                        <agm-marker *ngIf="post.address" [latitude]="postLat" [longitude]="postLng"></agm-marker>
                    </agm-map>
                </div>
                <div class="m-lg-3">
                    <button class="btn btn-outline-info mr-2" (click)="showPostLocation()">Xem vị trí phòng trọ</button>
                    <button class="btn btn-outline-secondary mr-2" (click)="toggleDrive()">Lái xe</button>
                    <button class="btn btn-outline-dark" (click)="toggleTransit()">Phương tiện công cộng</button>
                </div>
                <div *ngIf="locationName">Your Location: {{ locationName }}</div>
                <div *ngIf="locationNamePost">Post Location: {{ locationNamePost }}</div>
            </tab>
            <tab class="" [heading]="'Người đăng bài'">
                <h4>Thông tin người đăng bài</h4>
                <div class="container justify-content-center">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Liên hệ:</td>
                                        <td>{{post.createByName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Điện thoại:</td>
                                        <td>{{post.phoneNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{post.emailAddress}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>

<div class="content px-4 mt-6 order-2 order-md-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="font__title">Bình luận</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="card">
            <div class="d-flex">
                <span class="comment__title">Bình luận gần nhất</span>
                <span class="comment__title-cmt">{{totalCmt}} bình luận</span>
            </div>
            <div class="card-body card_chat">
                <ul class="chat">
                    <li *ngFor="let comment of commentsView">
                        <div class="message-content">
                            <img class="message-img" src="assets/img/user.png">
                            <div class="chat-body">
                                <strong>{{comment.createByName}}</strong><br>
                                <p class="chat__body-content">{{comment.commentContent}}</p>
                                <p class="chat__body-time">
                                    <i class="fas fa-clock mr-1"></i>{{comment.timeAgo}}</p>
                                <div class="action-buttons">
                                    <button class="btn btn-sm btn-primary mr-1" id="commentContent"
                                        (click)="show(comment.id)" [disabled]="!isUserOwner(comment.userId)">Sửa</button>
                                    <button class="btn btn-sm btn-danger"
                                        (click)="deleteComment(comment.id)" [disabled]="!isUserOwner(comment.userId)">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <form (ngSubmit)="show()" autocomplete="off">
                    <div class="input-group">
                        <input name="commentContent" id="commentContent" required [(ngModel)]="this.comment" type="text" class="form-control input-sm"
                            placeholder="Nhập bình luận" (input)="onCommentInput()">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">{{ editMode ? 'Sửa bình luận' : 'Gửi bình luận' }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
