<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{'https://primefaces.org/cdn/primeng/images/usercard.png'}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>{{l("Title")}}</strong>
                    <p>{{post.title}}</p>
                </div>
                <div>
                    <strong>{{l("Address")}}</strong>
                    <p>{{post.address}}</p>
                </div>
                <div>
                    <strong>{{l("Square")}}</strong>
                    <p>{{post.square }} (m2)</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn bg-success mr-2" (click)="favourite()" >
                        <i class="fas fa-pencil-alt"></i>
                        Yêu thích
                    </button>
                    <button class="btn bg-primary" (click)="booking(post.id)" [disabled]="buttonDisabled">
                        <i class="fas fa-trash-alt"></i>
                        Đặt phòng
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-7">
        <!-- dùng 1 tham chiếu mẫu ở đây đang giải quyết vấn đề API: #memberTabs -->
        <tabset>
            <tab class="" [heading]="'Nội dung'">
                <h4>{{l("ContentPost")}}</h4>
                <p>{{post.contentPost}}</p>
            </tab>
            <tab class="" [heading]="'Thông tin hình ảnh'">
                <h4>Interests</h4>
                <p>{{post.contentPost}}</p>
            </tab>
            <tab class="" [heading]="'Vị trí trên bản đồ'">

            </tab>
            <tab class="" [heading]="'Người đăng bài'">
                <h4>Thông tin người đăng bài</h4>
                <p>{{post.emailAddress}}</p>
                <br>
                <p>{{post.phoneNumber}}</p>
            </tab>
        </tabset>
    </div>
</div>
