.post-image {
  width: auto;
  height: 200px;
}

.ngx-gallery {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

agm-map {
  height: 400px;
}

.card {
  border: none;
}

.comment__title {
  display: flex;
  margin: 19px 0 0 19px;
  color: #06618c;
  font-style: italic;
}

.card-with-elevation {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đây là shadow tạo hiệu ứng elevation */
}

.font__title {
  font-size: 21px;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-body {
  font-size: 14px;
  margin-left: 10px;
}

.chat li {
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
  border-bottom: 1px dotted #B3A9A9;
  display: flex;
}

.message-content {
  display: flex;
  margin-bottom: -24px;
}

.message-img {
  max-height: 30px;
  float: left;
  margin-top: 6px;
  border-radius: 50%;
}

.action-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.action-buttons button {
  /* margin-left: 5px;
  font-size: 12px; */
  position: relative;
  top: -32px;
  left: 702px;
}

.card_chat {
  overflow: auto;
  height: 400px;
}
