 <div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{'https://primefaces.org/cdn/primeng/images/usercard.png'}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>{{l("Title")}}</strong>
                    <p>{{post.title}}</p>
                </div>
                <div>
                    <strong>{{l("Address")}}</strong>
                    <p>{{post.address}}</p>
                </div>
                <div>
                    <strong>{{l("Square")}}</strong>
                    <p>{{post.square }} (m2)</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>

                </div>
            </div>
        </div>
    </div>

    <div class="col-7">
        <!-- dùng 1 tham chiếu mẫu ở đây đang giải quyết vấn đề API: #memberTabs -->
        <tabset>
            <tab class="" [heading]="'Nội dung'">
                <h4>{{l("ContentPost")}}</h4>
                <p>{{post.contentPost}}</p>
            </tab>
            <tab class="" [heading]="'Thông tin hình ảnh'">
                <h4>Interests</h4>
                <div class="row mt-3">

                    <div class="col-md-3">

                      <h3>Add Photos</h3>

                      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropzoneOver}" (fileOver)="fileOverBase($event)"
                        [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                        <i class="fa fa-upload fa-3x"></i>
                        Drop photos here
                      </div>

                      Multiple
                      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

                      Single
                      <input type="file" ng2FileSelect [uploader]="uploader" />
                    </div>

                    <div class="col-md-9" style="margin-bottom: 40px">

                      <h3>Upload queue</h3>
                      <p>Queue length: {{ uploader?.queue?.length }}</p>

                      <table class="table">
                        <thead>
                          <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB
                            </td>

                          </tr>
                        </tbody>
                      </table>

                      <div>
                        <div>
                          Queue progress:
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                          [disabled]="!uploader.getNotUploadedItems().length">
                          <span class="fa fa-upload"></span> Upload all
                        </button>
                        <button class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
                          [disabled]="!uploader.isUploading">
                          <span class="fa fa-ban"></span> Cancel all
                        </button>
                        <button class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
                          [disabled]="!uploader.queue.length">
                          <span class="fa fa-trash"></span> Remove all
                        </button>
                      </div>

                    </div>

                  </div>
            </tab>

        </tabset>
    </div>
</div>
