.text-primary-huser {
    color: #00A99D;
}

.img-fluid__ele {
    height: 264px;
    width: 366px;
}

.room-status.available {
    color: #febb02;
    font-weight: 500;
}

.room-status.not-available {
    color: red;
    font-weight: 500;
}

/* CSS chatbot */

/* styles.css */
/* ::ng-deep df-messenger button#widgetIcon {
    width: 50px !important;
    height: 50px !important;
    background-color: black;
} */
