<div class="container-xxl bg-white p-0">
  <!-- Navbar Start -->
  <app-header-home-user></app-header-home-user>
  <!-- Navbar End -->

  <!-- Container Start -->
  <router-outlet></router-outlet>
  <!-- Container End -->

  <!-- Footer Start -->
  <app-footer-home-user></app-footer-home-user>
  <!-- Footer End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-info btn-lg-square back-to-top"><i class="bi bi-arrow-up"
            style="color: white;"></i></a>
  <!-- <df-messenger
    intent="WELCOME"
    chat-title="TimTro24h"
    agent-id="367c15bb-01ee-4e18-8d1c-ded6b3137370"
    language-code="vi"
  ></df-messenger> -->
</div>
