<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="#" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="../assets/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary-huser">Timtro24h</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/home-user" routerLinkActive="active" class="nav-item nav-link"><b>Trang chủ</b></a>
                <a routerLink="/home-user/home-view-posts" routerLinkActive="active" class="nav-item nav-link"><b>Nhà cho thuê</b></a>
                <!-- <div class="nav-item dropdown">
                    <a routerLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Liên hệ</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a routerLink="property-list.html" class="dropdown-item">Property List</a>
                        <a routerLink="property-type.html" class="dropdown-item">Property Type</a>
                        <a routerLink="property-agent.html" class="dropdown-item">Property Agent</a>
                    </div>
                </div> -->
                <a routerLink="/home-user/home-user-contact" routerLinkActive="active" class="nav-item nav-link"><b>Liên hệ</b></a>
                <a routerLink="/home-user/home-user-about-us" routerLinkActive="active" class="nav-item nav-link"><b>Về chúng tôi</b></a>

            </div>
            <div class="ms-auto d-flex">
                <a class="nav-item nav-link">
                    <b *ngIf="shownLogin">{{ 'Xin chào, ' + shownLoginName }}</b>
                </a>
                <a *ngIf="isLogin" href="/app/home" class="btn btn-info d-lg-flex mr-2">Quản lý tài khoản</a>
                <a *ngIf="!isLogin" href="/account/login" class="btn btn-light d-lg-flex mr-2">Đăng nhập</a>
                <a *ngIf="!isLogin" href="/account/register" class="btn btn-secondary d-lg-flex">Đăng ký</a>
                <a *ngIf="isLogin" (click)="logout()" class="btn btn-secondary d-lg-flex">Đăng xuất</a>
            </div>
        </div>
    </nav>
</div>
