<div bsModal #createOrEditModal="bs-modal" class="modal fade" aria-labelledby="createOrEditModal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md modal-lg">
    <div class="modal-content">
      <form class="form-horizontal" autocomplete="off" #createpostsModal="ngForm" (ngSubmit)="save()" *ngIf="active">

        <abp-modal-header *ngIf="posts.id" [title]="'CreateNewPost' | localize"
          (onCloseClick)="modal.hide()"></abp-modal-header>
        <abp-modal-header *ngIf="!posts.id" [title]="'CreateNewPost' | localize"
          (onCloseClick)="modal.hide()"></abp-modal-header>

        <div class="modal-body">
          <tabset>
            <tab [heading]="'PostsDetails' | localize" class="pt-3 px-2">
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="title">
                  {{ "Title" | localize }}
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="title" id="title" required [(ngModel)]="posts.title"
                    #titleModel="ngModel" #titleEl />
                  <abp-validation-summary [control]="titleModel" [controlEl]="titleEl"></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="contentPost">
                  {{ "ContentPost" | localize }}
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="contentPost" id="contentPost" required
                    [(ngModel)]="posts.contentPost" #contentPostModel="ngModel" #contentPostEl />
                  <abp-validation-summary [control]="contentPostModel"
                    [controlEl]="contentPostEl"></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="roomPrice">
                  {{ "RoomPrice" | localize }}
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="roomPrice" id="roomPrice" required
                    [(ngModel)]="posts.roomPrice" #roomPriceModel="ngModel" #roomPriceEl />
                  <abp-validation-summary [control]="roomPriceModel" [controlEl]="roomPriceEl"></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="address">
                  {{ "Address" | localize }}
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="address" id="address" required
                    [(ngModel)]="posts.address" ngModel #addressModel="ngModel" #addressEl />
                  <abp-validation-summary [control]="addressModel" [controlEl]="addressEl"></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="square">
                  {{ "Square" | localize }}
                </label>
                <div class="col-md-9">
                  <input class="form-control" name="square" id="square" required [(ngModel)]="posts.square"
                    #squareModel="ngModel" #squareEl />
                  <abp-validation-summary [control]="squareModel" [controlEl]="squareEl"></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="priceCategory">
                  {{ "PriceCategory" | localize }}
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="priceCategory" id="priceCategory" required
                    [(ngModel)]="posts.priceCategory" #priceCategoryModel="ngModel" #priceCategoryEl />
                  <abp-validation-summary [control]="priceCategoryModel"
                    [controlEl]="priceCategoryEl"></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row mb-0">
                <label class="col-md-3 col-form-label">
                  {{ "RoomStatus" | localize }}
                </label>
                <div class="col-md-9">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="roomStatus" id="roomStatus"
                      [(ngModel)]="posts.roomStatus" />
                    <label class="custom-control-label mt-2" for="roomStatus"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="conditioner" id="conditioner"
                        [(ngModel)]="posts.conditioner" />
                      <label class="custom-control-label" for="conditioner">{{ "Điều hóa" | localize }}</label>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="parking" id="parking"
                        [(ngModel)]="posts.parking" />
                      <label class="custom-control-label" for="parking">{{ "Chỗ để xe" | localize }}</label>
                    </div>
                  </div>

                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="wifi" id="wifi"
                        [(ngModel)]="posts.wifi" />
                      <label class="custom-control-label" for="wifi">{{ "Internet" | localize }}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <upload (onUploadFinished)="uploadFinished($event)"></upload>
              </div>
            </tab>

            <tab [heading]="'PostsDetails' | localize" class="pt-3 px-2">
              <div class="row mt-3">

                <div class="col-md-3">

                  <h3>Add Photos</h3>

                  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropzoneOver}" (fileOver)="fileOverBase($event)"
                    [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                    <i class="fa fa-upload fa-3x"></i>
                    Drop photos here
                  </div>

                  Multiple
                  <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

                  Single
                  <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>

                <div class="col-md-9" style="margin-bottom: 40px">

                  <h3>Upload queue</h3>
                  <p>Queue length: {{ uploader?.queue?.length }}</p>

                  <table class="table">
                    <thead>
                      <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB
                        </td>

                      </tr>
                    </tbody>
                  </table>

                  <div>
                    <div>
                      Queue progress:
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                      [disabled]="!uploader.getNotUploadedItems().length">
                      <span class="fa fa-upload"></span> Upload all
                    </button>
                    <button class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
                      [disabled]="!uploader.isUploading">
                      <span class="fa fa-ban"></span> Cancel all
                    </button>
                    <button class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
                      [disabled]="!uploader.queue.length">
                      <span class="fa fa-trash"></span> Remove all
                    </button>
                  </div>

                </div>

              </div>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer">
          <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createpostsModal.form.valid || saving"
            (onCancelClick)="modal.hide()"></abp-modal-footer>
          <!-- <button [disabled]="saving" type="button" class="tmss-btn btn-outline-dark"
            (click)="close()">{{l("Cancel")}}</button>
          <button type="submit" class="btn btn-outline-primary" [cancelDisabled]="saving"  [saveDisabled]="!createpostsModal.form.valid || saving"
            ><i class="fa fa-save mr-1"></i>
            <span>{{l("Save")}}</span></button> -->
        </div>
      </form>
    </div>
  </div>
</div>
