<div class="container-fluid header p-0">
    <div class="row g-0 align-items-center" style="margin-right: 1.5px; margin-left: 1.5px;">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 mb-4">
                Tìm một <span class="text-primary-huser">phòng trọ hoàn hảo</span> để bắt đầu cuộc sống của bạn
            </h1>
            <p class=" mb-4 pb-2">
                Dễ dàng tìm kiếm phòng trọ với đầy đủ thông tin chi tiết, hình ảnh thực tế và đánh giá từ người dùng, để bạn có thể chọn lựa ngôi nhà phù hợp nhất cho mình.
            </p>
            <a href="" class="btn btn-info py-3 px-5 me-3 ">Bắt đầu</a>
        </div>
        <div class="col-md-6 position-relative" style="padding: 0;">
            <div class="slider">
                <div class="slide active">
                    <img class="img-fluid" src="assets/img/carousel-1.jpg" alt="">
                </div>
                <div class="slide">
                    <img class="img-fluid" src="assets/img/carousel-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="slider-controls position-absolute ">
            <span class="control prev" (click)="moveSlide(-1)">&#10094;</span>
            <span class="control next" (click)="moveSlide(1)">&#10095;</span>
        </div>
    </div>
</div>
